
/* Your CSS Code here. */
main{
margin: 0px;
padding: 0px;
}
.holder{
display: flex;	
flex-wrap: wrap;
justify-content: space-between;	
}

#a{
height: 100px;
width: 100px;
background-color: green;
font-size: 40px;	
}
#b{
height: 100px;
width: 100px;
background-color: red;
font-size: 40px;	
}
#c{
height: 100px;
width: 100px;
background-color: blue;
font-size: 40px;	
}








